#########################################################
# Robot Server
#########################################################

# The TCP/IP port used to listen for telemetry connections
RobotTelemetryServer.Port=3001

# The delay in ms between telemetry updates
#RobotTelemetryServer.Delay=1000
RobotTelemetryServer.Delay=10000

# The TCP/IP port used to listen for command connections
RobotCommandServer.Port=3000

RobotTelemetry.EnableGlobalTelemetryLog = 0

#########################################################
# Robot Motion
#########################################################

# The delay between polling the state of the motor encoders and controllers
RobotMotion.Delay=100

# The device name of the motor controller
RobotMotion.MotorController.DeviceName=COM177
# The baud rate used to communicate with the motor controller
RobotMotion.MotorController.BaudRate=9600
# The relay number used to power cycle the motor controllers
RobotMotion.MotorController.RelayNumber=0

# The maximum rate of acceleration for the motors in speed units per encoder unit
RobotMotion.MaximumAcceleration=0.0001

# The maximum speed of the motors
RobotMotion.MaximumDriveSpeed=1.0
RobotMotion.MinimumDriveSpeed=0.3
RobotMotion.MaximumTurnSpeed=1.0
RobotMotion.MinimumTurnSpeed=1.0


# The device name of the left motor encoder
RobotMotion.MotorEncoders.Left.DeviceName=COM15
# The baud rate used to communicate with the left motor encoder
RobotMotion.MotorEncoders.Left.BaudRate=9600

# The device name of the right motor encoder
RobotMotion.MotorEncoders.Right.DeviceName=COM5
# The baud rate used to communicate with the right motor encoder
RobotMotion.MotorEncoders.Right.BaudRate=9600

# The number of encoder ticks required to move the track forward by one meter
RobotMotion.TicksPerMeter=136420

# The number of encoder ticks required to turn by one degree
#RobotMotion.TicksPerDegree=824
RobotMotion.TicksPerDegree=830

# The amount the speed boost decays per loop iteration
RobotMotion.SpeedBoostDecay=0.005

# The amount the speed boost is pumped each time a stall condition is detected
# 0.00 -> Stall speed boost disabled
RobotMotion.StallSpeedBoost=0.00 #0.05

# The smallest encoder value mismatch to correct for
RobotMotion.BiasThreashold=80

# The mapping of encoder value delta to bias speed units
RobotMotion.BiasFactor=10000.0

# The maximum amount of bias possible
RobotMotion.MaximumBias=0.2


# The speed setting used during the power on test of the motor controllers
RobotMotion.InitializeTestSpeed=0.5
# The amount of time the motors are driven for each test (in ms)
RobotMotion.InitializeTestTime=1000


#########################################################
# Robot Vision
#########################################################

RobotVision.Enabled=0

# The device name of the webcam
RobotVision.StillImageCapture.DeviceName=@device:pnp:\\?\usb#vid_046d&pid_08ae&mi_00#6&1a7f95b4&1&0#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\global

# The resolution of the image to capture from the webcam
RobotVision.StillImageCapture.ImageWidth=640
RobotVision.StillImageCapture.ImageHeight=480

# The delay between sucessive captures from the webcam, in ms
RobotVision.Delay=5000


#########################################################
# RobotScanning
#########################################################

# The device name of the LADAR
RobotScanning.LADAR.DeviceName=COM17
# The baud rate used to communicate with the LADAR
RobotScanning.LADAR.BaudRate=38400

# The device name of the step motor controller
RobotScanning.StepMotorController.DeviceName=COM16
# The baud rate used to communicate with the step motor controller
RobotScanning.StepMotorController.BaudRate=9600

# The speed of the step motor #
RobotScanning.StepMotorController.InitialPosition=5000000
RobotScanning.StepMotorController.Speed=400000 #500000

# A flag determining if all captured range images should be saved to disk
RobotScanning.SaveRangeImages=1

# The numer of step motor ticks to bring the LADAR from hard stop to level
RobotScanning.RestToIdle=630000     #756000    #63000

RobotScanning.MaxHeight = 1000000 # Check me!
RobotScanning.MinHeight = -630000 # Check me!
RobotScanning.StepsPerDegree = 17567 # Check me!



# The polling delay used for scanning
RobotScanning.Delay=100

# The resolution of the LADAR in 1/100ths of a degree.  Valid values are 100, 50 and 25
RobotScanning.LADAR.Resolution=25

# The field of view of the LADAR in degrees.  Valid values are 100 and 180
RobotScanning.LADAR.FieldOfView=100

# The maximum distance value the LADAR will return
RobotScanning.LADAR.MaximumRange=8192.0

# The conversion of LADAR measurment units to meters  (1000=mm; 100=cm)
RobotScanning.LADAR.DistanceUnitsPerMeter=1000

# The number of vertical scan lines to compose into each range image
#RobotScanning.ScanLines=60
RobotScanning.ScanLines=360

RobotScanning.Calibration.ThreasholdDistance=230
RobotScanning.Calibration.StepSize=3000 #500
RobotScanning.Calibration.StepsToStop= 200000 #280000

RobotScanning.Map.Resolution=0.05
#RobotScanning.Map.Width=600
#RobotScanning.Map.Height=600
RobotScanning.Map.Width=1024
RobotScanning.Map.Height=1024
RobotScanning.Map.MaximumSplatHeight=2.0

#########################################################
# Device Control
#########################################################

# The device name of the A/D and Relay boards
DeviceControl.DeviceName=COM8
# The baud rate used to communicate with the A/D and Relay boards
DeviceControl.BaudRate=9600

# The address of the Relay board
DeviceControl.RelayBoardAddress=1

#The address of the A/D board
DeviceControl.AnalogDigitalBoardAddress=0